<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>HostelManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterService</display-name>
    <servlet-name>RegisterService</servlet-name>
    <servlet-class>co.hostelmanagement.service.RegisterService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterService</servlet-name>
    <url-pattern>/RegisterService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginService</display-name>
    <servlet-name>LoginService</servlet-name>
    <servlet-class>co.hostelmanagement.service.LoginService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginService</servlet-name>
    <url-pattern>/LoginService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassService</display-name>
    <servlet-name>ForgotPassService</servlet-name>
    <servlet-class>co.hostelmanagement.service.ForgotPassService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassService</servlet-name>
    <url-pattern>/ForgotPassService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomsService</display-name>
    <servlet-name>RoomsService</servlet-name>
    <servlet-class>co.hostelmanagement.service.RoomsService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomsService</servlet-name>
    <url-pattern>/RoomsService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRoomService</display-name>
    <servlet-name>ViewRoomService</servlet-name>
    <servlet-class>co.hostelmanagement.service.ViewRoomService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRoomService</servlet-name>
    <url-pattern>/ViewRoomService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentService</display-name>
    <servlet-name>PaymentService</servlet-name>
    <servlet-class>co.hostelmanagement.service.PaymentService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentService</servlet-name>
    <url-pattern>/PaymentService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayNowServlate</display-name>
    <servlet-name>PayNowServlate</servlet-name>
    <servlet-class>co.hostelmanagement.service.PayNowServlate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayNowServlate</servlet-name>
    <url-pattern>/PayNowServlate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowPaymentHitory</display-name>
    <servlet-name>ShowPaymentHitory</servlet-name>
    <servlet-class>co.hostelmanagement.service.ShowPaymentHitory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPaymentHitory</servlet-name>
    <url-pattern>/ShowPaymentHitory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutService</display-name>
    <servlet-name>LogOutService</servlet-name>
    <servlet-class>co.hostelmanagement.service.LogOutService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutService</servlet-name>
    <url-pattern>/LogOutService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackService</display-name>
    <servlet-name>FeedbackService</servlet-name>
    <servlet-class>co.hostelmanagement.service.FeedbackService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackService</servlet-name>
    <url-pattern>/FeedbackService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackShowService</display-name>
    <servlet-name>FeedbackShowService</servlet-name>
    <servlet-class>co.hostelmanagement.service.FeedbackShowService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackShowService</servlet-name>
    <url-pattern>/FeedbackShowService</url-pattern>
  </servlet-mapping>
</web-app>